html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    background-color: rgb(255, 0, 0);
    font-family: "PT Sans";
}
html,
body {
    height: 100%;
}

.page-header {
    position: relative;
    width: 60px;
    height: 60px;
    margin-left: auto;
}

.search__input {
    z-index: 1;
    overflow: hidden;
    border-radius: 30px;
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
    display: block;
    padding: 10px 30px;
    height: 60px;
    width: 60px;
    color: rgb(255, 255, 255);
    font-family: "Avanti", "Arial", sans-serif;
    cursor: pointer;
    will-change: width;
    transition: width 0.4s, color 0.2s, background-color 0.2s, border-color 0.2s;
}

.search__input:focus {
    width: 290px;
    outline: 0;
}

.search-form {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: #0f0f0f;
    border-radius: 30px;
    border: solid #ffffff 2px;
}
i {
    position: absolute;
    top: 50%;
    right: 17px;
    z-index: -1;
    color: #fff;
    font-size: 25px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
