*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: border-box;
}
body {
    background-color: rgb(255, 0, 0);
}
html,
body {
    height: 100%;
}
.wrapper {
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0f0f0f;
    z-index: 3;

}
.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0px 10px;
}
.header-body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.logo{
    flex: 0 0 80px;
}
.logo img {
    max-width: 100%;
}
.burger {
    display: none;
}
.menu {
}
@media (max-width: 767px) {
    .burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
    }
    .burger span{
        position: absolute;
        background-color: #fff;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
    }
    .burger::before,
    .burger::after{
        content: '';
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .burger::before{
        top: 0;

    }
    .burger::after{
        bottom: 0;
    }
    .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #646060;
    }
}
.nav{
    display: flex;
}
.nav-list {
    list-style: none;
    margin: 0px 0px 0px 40px;
}
.nav-text-list {
    font-family: "PT Sans";
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
